{
  "presets": [
    [ "env", {"modules": false}],
    "stage-2",
    "react"
  ],
  "plugins": [
    "transform-runtime",
    "react-hot-loader/babel",
    "syntax-dynamic-import"
  ],
  "comments": false
}